.user-page {
  padding-top: 24px !important;
  display: flex;

  .user {
    margin-right: 32px;
  }

  .tabs {
    width: calc(100% - 32px - 290px);
  }

  @media screen and (max-width: 767px) {
    padding-top: 16px !important;
    flex-direction: column;

    .user {
      width: 100%;
      padding-bottom: 16px;
      margin-right: 0;
      margin-bottom: 32px;
      border-bottom: 1px solid #1c1f21;

      .avatar-names-wrapper {
        display: flex;
        align-items: center;
      }

      &__avatar {
        width: 15vw;
        height: 15vw;
        margin-right: 16px;
      }

      .names-wrapper {
        margin: 0;
      }

      &__bio {
        margin: 16px 0;
      }
    }

    .tabs {
      width: 100%;
    }
  }
}
