* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-bg-default: #010309;
  --color-bg-hover: #21262d;
  --color-blue: #58a6ff;
  --color-border: #30363d;
  --color-border-active: #f78166;
  --color-fg-default: #c9d1d9;
  --color-fg-disabled: #8b949e;
  --font: "Montserrat", sans-serif;
  --max-page-width: 1280px;

  font-size: 16px;
  line-height: 24px;
  font-family: var(--font);
}

body {
  min-width: 360px;
  background-color: var(--color-bg-default);
  color: var(--color-fg-default);
}

a {
  color: var(--color-fg-default);
  text-decoration: none;

  &:hover {
    color: var(--color-blue);
    text-decoration: underline;
  }
}

.page {
  max-width: var(--max-page-width);
  margin: 0 auto;
  padding: 16px 32px;

  @media screen and (max-width: 767px) {
    padding: 16px;
  }
}

.fg-disabled {
  color: var(--color-fg-disabled);
}
