* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // customizing scrollbar for firefox
  scrollbar-width: thin;
  scrollbar-color: #666 var(--color-bg-hover);
}

:root {
  --color-bg-default: #010309;
  --color-bg-hover: #21262d;
  --color-border: #30363d;
  --color-border-active: #f78166;
  --color-fg-default: #c9d1d9;
  --color-fg-disabled: #8b949e;
  --color-blue: #58a6ff;
  --color-red: #ff6361;
  --font: "Montserrat", sans-serif;
  --max-page-width: 1280px;

  font-size: 16px;
  line-height: 24px;
  font-family: var(--font);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

// the scrollbar handle's container
::-webkit-scrollbar-track {
  background-color: var(--color-bg-hover);
}

// the scrollbar handle
::-webkit-scrollbar-thumb {
  background-color: #666;

  &:hover {
    background: #555;
  }
}

body {
  min-width: 360px;
  background-color: var(--color-bg-default);
  color: var(--color-fg-default);
}

a {
  color: var(--color-fg-default);
  text-decoration: none;

  &:hover {
    color: var(--color-blue);
    text-decoration: underline;
  }
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  border-radius: 6px;
  border: 1px solid var(--color-border);
  padding: 5px;
  background-color: #0d1117;
  color: #fff;

  &::placeholder {
    color: #999;
  }

  &:focus {
    outline: 2px solid var(--color-blue);
    border-color: transparent;
  }
}

.btn {
  display: inline-block;
  padding: 4px 8px;
  background-color: var(--color-blue);
  border: none;
  border-radius: 5px;
  font-family: var(--font);
  color: var(--color-bg-default);
  font-size: 1rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: var(--color-bg-default);
    text-decoration: none;
  }
}

.card {
  padding: 16px;
  border: 1px solid var(--color-border);
  border-radius: 6px;
}

.fg-disabled {
  color: var(--color-fg-disabled);
}

.page {
  max-width: var(--max-page-width);
  margin: 0 auto;
  padding: 16px 32px;
  overflow: auto;

  @media screen and (max-width: 767px) {
    padding: 16px;
  }
}
